* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslategrey;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-container {
  margin: 30px 20px;
  max-width: 800px;
  width: 100%;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 8px;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
}

.product-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price {
  display: flex;
}

button {
  margin-left: 5px
}

.btn {
  border: none;
}

.btn:hover {
  background-color: black;
  color: #fff;
}

.btn-trash {
  padding: 4px;
  border-radius: 4px;
  background-color: red;
  color: #fff;
}

.btn-trash:hover {
  background-color: #fff;
  color: red;
}