* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslategrey;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-container {
  margin: 30px 20px;
  max-width: 800px;
  width: 100%;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 8px;
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
}

.product-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price {
  display: flex;
}

button {
  margin-left: 5px
}

.btn {
  border: none;
}

.btn:hover {
  background-color: black;
  color: #fff;
}

.btn-trash {
  padding: 4px;
  border-radius: 4px;
  background-color: red;
  color: #fff;
}

.btn-trash:hover {
  background-color: #fff;
  color: red;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 10000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.form-group {
  margin: 10px 3px;
  display: flex;
  justify-content: space-between;
}

.form-group label {
  margin: auto 4px;
}

.input-quantity, .input-price {
  max-width: 50px;
}